<div>
	<label style="padding-left: 10px;color: #fff;font-size: 18px"> Welcome <%= current_user.name%></label>
</div>
<div style="color:#fff;font-size: 12px;padding-left: 10px">
	Product Type Edit
</div>


<%= render "components/new_component", :partial => true %>
<br />
