<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>User enquired about WPCC: <%= @enquiry.name %></h1>

<p>User Email: <%= @enquiry.email %></p>
<p>User Telephone: <%= @enquiry.telephone %></p>

<p>
  <%= h message %>
</p>
</body>
</html>