<div style="padding:10px;"> 
	<div class="forgot_email_div" style="width: 100%">
		<div class="green_menu">
			My Profile
		</div>
		<div style="padding:10px;color:#000;font-size: 14px;"> 
			Name: <%= @user.name %> 
			<br />
			<br />
			Email: <%= @user.email %>
		</div>
	</div> 
</div>



