<div class="container">
  <div class="left_right_padded_div">
    <label class="white_header_label"><%= (t("user_registration_header")) %></label>

    <div class="row-fluid white_small_label">
      Welcome- <%= (t("user_registration_header")) %>
    </div>
    <br/>

    <div class="registration_div">
      <div class="green_menu">
        User Registration
      </div>
      <br/>

      <p class="pagination-centered header">
        Email has been sent
      </p>

      <br/>

      <div class="pagination-centered" style="padding: 20px;">
        <%= link_to "Login", root_url, :id => "wider_green_button", class: "btn btn-success" %>
      </div>
    </div>

  </div>
</div>
<br/>

