
<h1>All attachments in the database</h1>
<% @attachments.each do |file| %>
 <%= link_to file.upload_file_name.to_s, file %>
<% end %>

<%= button_to_function "Attach more files", "upload_dialog_open();" %>