.country {
    width: 300px;
    color: #000000;
}
.state_province_county {
    width: 300px;
    color: #000000;
}
.city {
    width: 300px;
    color: #000000;
}
.post_code {
    width: 150px;
    color: #000000;
}