

/* mixins and variables */

$grayMediumLight: #eaeaea;
$backGroundGreen: #455560;
$greenBanner: #007f5d;
$grayLighter: #f2f2f2;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

select {
  padding: 0px;
}

/* header--krishna */

 .navbar {
  width:800px;
  height: 92px;
  background-color:#2E7461;
}


.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin-left: -10px;
  font-family: BankGothic;
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  text-shadow: none;

}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #000000;
  text-decoration: none;
  text-shadow: none;

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
  padding-top: 0px;
  background-color: $backGroundGreen;
  color: #eee;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #ffffff;
}

.bodyLinks a:link {
  color: #69bd45;

}

.bodyLinks a:visited {
  color: #69bd45;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #999;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 0px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* Menus and Links */
 .bodyIcon {
 padding: 5px;
 }

 .accordion-toggle {
  padding-left: 25px;
 }

 /* users index */

 .users {
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
      }
    }
  }