
<%

#This partial will expect an array: bread_crumb_array, and use the array to create bread crumb list. The array will have


#ex: bread_crumb_array.push [t(:products), ProductInstance]

%>


<div style="color:#fff; font-size 12px; padding-left: 10px">
	<!-- @@kk: put link to product_instance.index -->
	<%= link_to t(:products), ProductInstance %> - <%= link_to @product_instance.get_title(current_language_id), @product_instance %> -
	<%= link_to raw(@component.get_title(current_language_id)), (component_path @component, :product_instance_id => @product_instance.id) %>
	<hr>
</div>